name: Capstone-frontend-ci
on:
  push:
    branches: [main]
  pull_request:
    types: [opened, synchronize, reopened, closed]
    branches: [main]

concurrency:
  group: deploy-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  test:
    name: Run Tests
    if: github.event_name != 'pull_request' || github.event.action != 'closed'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        
      - name: Setup Nodejs
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm"
          
      - name: Install Dependencies
        run: npm ci

      - name: Run tests
        run: npm test

  build-and-push:
    name: Build and Trigger Infra

  # Do not run on PR closures
  # Also skip fork PRs
     
    if: github.event.action != 'closed' && (github.event_name == 'push' || github.event.pull_request.head.repo.full_name == github.repository)
    needs: test
    runs-on: ubuntu-latest
    
    steps:
       - uses: actions/checkout@v4
       
       - name: Set up Docker Buildx
         uses: docker/setup-buildx-action@v3
         
       - name: Login to Docker Hub
         uses: docker/login-action@v3
         with:
           username: ${{ secrets.DOCKERHUB_USERNAME }}
           password: ${{ secrets.DOCKERHUB_TOKEN }}

       - name: Build and Push (main)
         if: github.event_name == 'push' && github.ref == 'refs/heads/main'
         uses: docker/build-push-action@v5
         with:
            context: .
            push: true
            tags: |
              ${{ secrets.DOCKERHUB_USERNAME }}/capstone-frontend:latest
              ${{ secrets.DOCKERHUB_USERNAME }}/capstone-frontend:${{ github.sha }}


       - name: Build and Push (PR)
         if: github.event_name == 'pull_request'
         uses: docker/build-push-action@v5
         with:
            context: .
            push: true
            tags: |
             ${{ secrets.DOCKERHUB_USERNAME }}/capstone-frontend:${{ github.sha }}

      
       - name: Signal Infra Repo
         run: |
           set -euo pipefail

           curl -L \
             -X POST \
             -H "Accept: application/vnd.github+json" \
             -H "Authorization: Bearer ${{ secrets.GH_PAT }}" \
             -H "X-GitHub-Api-Version: 2022-11-28" \
             https://api.github.com/repos/${{ github.repository_owner }}/capstone-infra/dispatches \
             -d '{
               "event_type": "frontend_updated",
               "client_payload": {
                 "env": "${{ github.event_name == 'push' && 'production' || 'ephemeral' }}",
                 "pr_number": "${{ github.event.number || '0' }}",
                 "frontend_tag": "${{ github.sha }}",
                 "repository": "${{ github.repository }}"
               }
             }'

  destroy-env:
    name: Destroy Ephemeral Env
    # Only run when a PR is closed It will skipfork PRs
    if: github.event_name == 'pull_request' && github.event.action == 'closed' && github.event.pull_request.head.repo.full_name == github.repository
    runs-on: ubuntu-latest
    steps:
      - name: Signal Cleanup
        run: |
          set -euo pipefail

          curl -L \
            -X POST \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: Bearer ${{ secrets.GH_PAT }}" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            https://api.github.com/repos/${{ github.repository_owner }}/capstone-infra/dispatches \
            -d '{
              "event_type": "destroy_ephemeral",
              "client_payload": {
                "pr_number": "${{ github.event.number }}"
              }
            }'
